@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";


@utility btn {
  @apply rounded-full;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #5741AC;
  --color-secondary: #00A2FF;
}

@theme {
  --font-sans: 'Montserrat', sans-serif; 
}
