---
layout: base.njk
title: Brilliant Card Feedback
description: Tell me what you think about Brilliant Cards!
---

<section class="py-16 lg:py-24">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl lg:text-5xl font-bold mb-12 text-primary">{{ title }}</h1>
    
    <div class="prose lg:prose-lg max-w-none mb-8">
      <p>{{ description }}</p>
    </div>

    <div class="w-full flex justify-center">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeFYqcNJ6v2_ke0VLeeWXauEqbj4jNh3NIaCnOrbTxLu2ueOg/viewform?embedded=true" width="640" height="2114" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </div>
</section>
